/* font style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body
{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
body p
{
    font-family: 'Poppins', sans-serif;
}
.copa-header
{
    background-color: #2D25A0;
    display: flex;
    margin-bottom: 40px;
}
#copa-america
{
    
    color: white;
    font-size: 30px;
    margin: 121px 82px 140px 190px;
}

#banner img
{
    width: 556.01px;
    height: 438px;
    margin: 86px 121px 126px 100px;


}

/* transform - transition part starts */
#banner:hover img
{
    transform: scale(1.2) rotate(360deg);
    transition: transform 2s ease-in-out;
}
/* transform - transition part ends */

.watch-live
{
    
    display: flex;
}
#live
{
    background-color: #E02C6D;
    border-color: #E02C6D;
    width: 168px;
    height: 44px;
    padding: 10px 14px;
}
#watch
{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
}
.filled
{
    width: 34px;
    height: 24px;
    margin: 0px 4px;
    color: white;
}

/* players section starts */
.players-cell
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 40px;
    grid-column-gap: 12px;
    margin-left: 100px;
    margin-right: 150px;

}

.players
{
    
    width: 330px;
    height: auto;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 10px 10px ;
    border: 30px;
}
.player-img img
{
    width: 300px;
    height: 256px;
    padding: 10px 10px 5px 10px;
}
 .player-details
{
    padding: 0px 5px 5px 5px;
} 

/*----------------------- breaking news------------------------ start  */
.breaking-news
{
    display: flex;

}
.newspart
{
    width: 50%;
    margin: 5%;
    border-radius: 25px;
    box-shadow: 1px 2px 10px 5px rgba(9, 248, 248, 0.226);
    padding: 15px 25px;
    background-color: darkslategray;
    color: white;
}
.newspart img
{
    width: 100%;
    height: 100%;
}

#news
{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(226, 20, 20, 0.726);
    margin-left: 25%;
    margin-right: 25%;
}
.news-no
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.country
{
    font-size: 30px;
}

/*-------------------- sponsors-------------------- */
#sponsors
{
    background-color: pink;
    margin: 0 20%;
    border-bottom: 2%;
}

.sponsor h1
{
    color: black;
}
.sponsor, .sponsor-logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

.sponsor-logo img
{
    height: 50%;
    width: 200px;
}

/* --------------------footer------------------------------  */
#footer
{
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
footer #logo{
   
    margin-left: 25%;
    justify-content: space-between;
}
footer img:first-child
{
    width: 40%;
}
footer i{
    font-size: 32px;
    color: gray;
    background-color: gainsboro;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
}
footer p
{
    margin-top: 25px;
    font-size: 18px;
}

/* -------------------        footer ends   ---------------------  */

/*------------------------------------------------Media Query for Mobile Device---------------------------------------------------------  */

@media only screen and (max-width:688px)
{
    .copa-header
    {
        width: 100%;
        flex-direction: column;
    }
    .players-cell
    {
        width: 100%;
       flex-direction:column;
       grid-template-columns: repeat(1, 1fr);
    }
    .breaking-news
    {
        flex-direction:column;
    }
    .sponsors, .sponsor-logo
    {
        flex-direction: column;
    }
    #logo, .social, #copyright
    {
        grid-template-columns: repeat(1, 1fr);
    }


}